#tst1{font-size: 40px;}
h1#tst1{font-style: oblique;}
body{
  font-size: 20px;
  color:#483D8B;
  background-color: #ADD8E6}
h1{
  color:#483D8B;
  text-align: center;}
button{
  font-size: 20px;
  font-style: oblique;
  color:#483D8B;}
.divCss{
  	margin-bottom: 10px;
  }
.olCss{
  	padding-left: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
  	margin-left: 40px;
  }
  .inputClass {
  	float:left;
  	margin-left: -50px;
  }
  .liRight {

  }
